{% extends "base.html" %}
{% block title %}Достижения - {% endblock %}
{% block html_head %}



{% endblock %}


{% block content %}

<div class="text-container">

    <h1>Достижения Беларуси в космосе</h1>

    <h2>Спутник «БелКА-2» и статус космической державы</h2>

    <img src="/static/images/belka-2.jpg" class="float-left" style="width:45%; margin-right:5%;">

    22 июля 2012 года Беларусь запустила свой первый спутник на земную орбиту, который получил название «БелКА - 2». Аппарат был запущен для нужд МЧС, а также сельского и лесного хозяйств. «БелКа»  - это аббревиатура от «Белорусский космический аппарат». Вместе со спутником Беларусь получила международный статус космической державы. Планируется, что «БелКА-2» будет работать до 2018 года.
    </br>
    </br>
    Первая попытка запуска спутника в 2006 году оказалась неудачной – тогда аппарат упал в 150 километрах от города Байконур, где происходил запуск. Произошло это из-за аварийной ситуации на ракете-носителе «Днепр». К счастью, аппарат был застрахован, поэтому на возмещенные средства удалось создать еще один спутник, запуск которого уже прошел успешно.
    </br>
    </br>
    Рабочая орбита космического аппарата составляет 500-520 км. Космический аппарат следит за природными ресурсами, сельхозугодьями, находит лесные пожары. А первые космические снимки со спутника купили за рубежом уже через месяц после запуска.



    <h2 style="clear: both;">Телекоммуникационный спутник «Белинтерсат-1»</h2>

    <img src="/static/images/bel-1.jpg" class="float-left" style="width:45%; margin-right:5%;">

    «Белинтерсат-1» - это белорусский спутник связи, созданный китайской корпорацией и запущенный 15 января 2016 года с космодрома в Китае.
    </br>
    </br>
    Аппарат стартовал с космодрома Сичан (Китай), его запуск стал возможен благодаря сотрудничеству с китайской компанией China Great Wall Industry Corporation. Следом за запуском спутника был введен и наземный комплекс управления им – он находится под Минском.
    </br>
    </br>
    Спутник рассчитан на 15 лет работы и будет предоставлять широкий спектр телекоммуникационных услуг, таких как спутниковое телевизионное вещание, спутниковое радиовещание и широкий доступ в интернет.


    <h2 style="clear: both;">Ракетное топливо</h2>

    <img src="/static/images/kit.jpg" class="float-right" style="width:45%; margin-left:5%;">

    Борис Кит – белорусский и американский общественный деятель, учёный в области астронавтики, старейший член Американского общества астронавтики, член комитета международной Академии астронавтики в Париже.
    </br>
    </br>
    Знаменитый ученый в области космических технологий белорус Борис Кит уехал в США еще в советские годы. В Америке он занимался разработкой топлива на основе жидкого водорода для космических кораблей, работал над созданием более мощного и эффективного варианта. Во многом благодаря ему на орбиту Земли смогли запустить легендарные корабли «Аполлон»
    </br>
    </br>
    За эти заслуги книга с именем Бориса Кита, наряду с именами других великих ученых, заложена в капсулу времени, которая замурована в стену американского Капитолия. В 1960 году Борис Кит выпустил первый в истории учебник по топливу для ракетных систем.и «Шаттл».

    <h2 style="clear: both;">Уникальное оборудование и техника</h2>

    На белорусов в советской космической программе была возложена изобретательская миссия. Кораблям и спутникам нужно было специальное высокоточное оборудование для мониторинга и зондирования. Именно белорусы разработали несколько важнейших технических новинок того времени. Например, системы дистанционного зондирования Земли, которые осуществляли анализ в различных диапазонах оптического излучения.
    </br>
    </br>
    Белорусы приложили руки к созданию сложнейших оптоэлектронных и радиотехнических систем траекторных измерений, фото астрономических установок и комплексов обработки всех видов изображений. В Минске проводились исследования низкотемпературной плазмы, а обшивка космических кораблей до сих пор создается на основе технологий, разработанных учеными белорусского Института тепло- и массообмена.


    <h2 style="clear: both;">Международный космический конгресс</h2>

    Международный космический конгресс - ежегодное собрание учёных и других специалистов в области астронавтики при участии руководителей национальных космических агентств.
    </br>
    </br>
    31-й международный конгресс Ассоциации участников космических полетов открылся 10 сентября в Минске. Церемония открытия конгресса состоялась в НВЦ "Белэкспо". В павильоне развернулась экспозиция на тему освоения космоса. Гости смогли ознакомиться с историей Беларуси, ее успехами в области космических исследований. Космонавтам продемонстрировали белорусские технологии создания оптической аппаратуры высокого разрешения, космических зеркал с особой гладкостью, аппаратуры для дистанционного зондирования Земли, показали результаты реализации серии космических программ Союзного государства. После открытия были запланированы две технические сессии. Первая из них была посвящена теме конгресса - "Мы созидаем космическое будущее". Во время второй сессии космонавты, вернувшиеся с орбиты за последний год, выступили с отчетом о своих полетах.
    </br>
    </br>
    Конгресс продлился до 15 сентября. В Национальной академии наук Беларуси были организованы две технические сессии. Их объединяла тема "Наше будущее в космосе". День сообщества прошел 12 сентября. В этот день космонавты посетили белорусские школы, университеты, институты Национальной академии наук, Минское суворовское военное училище. 13 сентября проводилась еще одна техническая сессия - по космосу и науке. Генеральная ассамблея ассоциации, бизнес-сессии состоялись 14 сентября. Затем участники конгресса заложили в Ботаническом саду Аллею космонавтов. Каждый космонавт посадил колонновидный можжевельник, крона которого имеет форму ракеты. Также для гостей были организованы экскурсии по знаковым местам Беларуси и культурная программа.


</div>

{% endblock %}