
body{
    margin: 0px;
    background: white;  /* fallback for old browsers */

}

h1{
text-align: center;
font-size: 28px;
font-weight: bold;
margin-bottom: 15px;
margin-top: 15px;
}

h2{
text-align: center;
font-size: 16px;
font-weight: bold;
border: 1px solid black;
margin-bottom: 15px;
margin-top: 15px;
}
.text-container img{
margin-bottom: 15px;

}

.main-intro{
width: 80%;
margin: auto;
margin-top:15px;
margin-bottom:15px;
}


#body-content{
 min-height: 85vh;
}


#footer-logo{
    display: block;
    width:50px;
    margin: auto;
    margin-bottom: 10px;
}

footer p, address{
    color: #F8F8F8;
    text-align: center;
    font: 12px Arial, Helvetica, sans-serif;
}

footer p a{
    color: #F8F8F8;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

footer p a:hover{
    color: rgb(29, 155, 240);
    text-decoration: none;
}

footer{
    background-color: black;
    padding: 20px;
    margin: 0px;
}

.nav-link{
color: white !important;
}

.nav-link:hover{
color: rgb(29, 155, 240) !important;
}

#carouselExampleCaptions{
margin: 8%;
margin-bottom: 20px;
margin-top:20px;

}

.text-container{
margin: 5%;
margin-top: 20px;
}

.text-container h2{
padding-top: 10px;
padding-bottom: 10px;
}

.text-container h1{
padding-top: 0px;
padding-bottom: 10px;
}


.container1 {
  position: relative;
  text-align: left;
  color: white;
}



/* Top left text */
.top-left {
  position: absolute;
  top: 30px;
  left: 5%;
  padding-right: 5%;

}

.top-left p {
  background-color: rgba(0,0,0,0.6);
  padding:10px;
}

.three-names{
margin-top: 20%;
}

.three-names .col-sm{
text-align: center;
font-size: 36px;
font-weight: bold;
}









@media only screen and (max-width: 700px) {

#carouselExampleCaptions{
margin: 0%;
margin-bottom: 20px;
margin-top:20px;

}

.three-names{
margin-top: 5%;
}

}

@media only screen and (max-width: 500px) {

.container1{
min-height: 900px !important;
}

.three-names{
margin-top: 5%;
}

}


